
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
           @foreach (var item in ViewBag.countries)
           {
                <li>@item</li>
           }
            Hello
        </ul>

      <a href="~/Views/Home/Index2.cshtml">Touch me</a>  

    </div>
</body>
</html>
